In [1]:
import os
import re
import pandas as pd
import numpy as np

In [2]:
dataPath = r'G:\Uppsala Docs\period5&6\Meteorological data'
FeaturesPath = os.listdir(dataPath)
print(FeaturesPath)

['Air-pressure.csv', 'Air-Temperature.csv', 'Amount-of-clouds.csv', 'Precipitation-amount.csv', 'Wind-direction.csv']

## Air Pressure

In [3]:
# reading air pressure data
filePath = dataPath+"\\"+FeaturesPath[0]
AirPressure = pd.read_csv(filePath, sep=";", skiprows=8, parse_dates=[['Datum', 'Tid (UTC)']],
                             usecols = ['Datum', 'Tid (UTC)','Lufttryck reducerat havsytans nivå','Kvalitet'])
print(AirPressure.describe())
print(AirPressure.info())
print(AirPressure.head(3))

       Lufttryck reducerat havsytans nivå
count                        64902.000000
mean                          1012.160582
std                             11.869287
min                            942.700000
25%                           1004.800000
50%                           1012.700000
75%                           1020.000000
max                           1054.700000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64902 entries, 0 to 64901
Data columns (total 3 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Datum_Tid (UTC)                     64902 non-null  datetime64[ns]
 1   Lufttryck reducerat havsytans nivå  64902 non-null  float64
 2   Kvalitet                            64902 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.5+ MB
None
      Datum_Tid (UTC)  Lufttryck reducerat havsytans nivå Kvalitet
0 1961-01-01 06:00:00                              1013.3        G
1 1961-01-01 12:00:00                              1013.2        G
2 1961-01-01 18:00:00                              1012.7        G

In [4]:
# renaming the columns
AirPressure.rename(columns={"Datum_Tid (UTC)":"DateTimestamp"}, inplace = True)
AirPressure.rename(columns = lambda x: re.sub('Lufttryck reducerat havsytans nivå','Air pressure',x), inplace = True)
AirPressure.rename(columns = lambda x: re.sub('Kvalitet','Quality',x), inplace = True)
# filter required data
AirPressure = AirPressure[AirPressure['DateTimestamp'] >= "2015-01-01 00:00:00"] 
print(AirPressure.describe())
print(AirPressure.info())
print(AirPressure.head(3))
print(AirPressure.groupby(['Quality']).count())
AirPressure = AirPressure[['DateTimestamp','Air pressure']]

       Air pressure
count   5230.000000
mean    1012.516138
std       11.730431
min      964.500000
25%     1005.600000
50%     1012.900000
75%     1019.900000
max     1046.800000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5230 entries, 59672 to 64901
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTimestamp  5230 non-null   datetime64[ns]
 1   Air pressure   5230 non-null   float64
 2   Quality        5230 non-null   object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 163.4+ KB
None
            DateTimestamp  Air pressure Quality
59672 2015-01-01 06:00:00        1012.4       G
59673 2015-01-01 12:00:00        1009.0       G
59674 2015-01-01 18:00:00        1006.6       G
         DateTimestamp  Air pressure
Quality
G                 5220          5220
Y                   10            10

## Air Temperature

In [5]:
# reading air temperature data
filePath = dataPath+"\\"+FeaturesPath[1]
AirTemperature = pd.read_csv(filePath, sep=";", skiprows=8, parse_dates=[['Datum', 'Tid (UTC)']],
                             usecols = ['Datum', 'Tid (UTC)','Lufttemperatur','Kvalitet'])
print(AirTemperature.describe())
print(AirTemperature.info())
print(AirTemperature.head(3))

       Lufttemperatur
count   200968.000000
mean         6.935331
std          8.544479
min        -29.200000
25%          0.700000
50%          6.400000
75%         13.800000
max         35.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200968 entries, 0 to 200967
Data columns (total 3 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Datum_Tid (UTC)  200968 non-null  datetime64[ns]
 1   Lufttemperatur   200968 non-null  float64
 2   Kvalitet         200968 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.6+ MB
None
      Datum_Tid (UTC)  Lufttemperatur Kvalitet
0 1859-01-01 07:00:00            -1.8        G
1 1859-01-01 13:00:00             0.9        G
2 1859-01-01 20:00:00             1.8        G

In [6]:
# renaming the columns
AirTemperature.rename(columns={"Datum_Tid (UTC)":"DateTimestamp"}, inplace = True)
AirTemperature.rename(columns = lambda x: re.sub('Lufttemperatur','Air temperature',x), inplace = True)
AirTemperature.rename(columns = lambda x: re.sub('Kvalitet','Quality',x), inplace = True)
# filter required data
AirTemperature = AirTemperature[AirTemperature['DateTimestamp'] >= "2015-01-01 00:00:00"] 
print(AirTemperature.describe())
print(AirTemperature.info())
print(AirTemperature.head(3))
print(AirTemperature.groupby(['Quality']).count())
AirTemperature = AirTemperature[['DateTimestamp','Air temperature']]

       Air temperature
count      5753.000000
mean          8.875856
std           8.103316
min         -14.700000
25%           2.400000
50%           7.900000
75%          15.500000
max          32.500000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5753 entries, 195215 to 200967
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DateTimestamp    5753 non-null   datetime64[ns]
 1   Air temperature  5753 non-null   float64
 2   Quality          5753 non-null   object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 179.8+ KB
None
             DateTimestamp  Air temperature Quality
195215 2015-01-01 06:00:00              2.4       G
195216 2015-01-01 12:00:00              5.7       G
195217 2015-01-01 18:00:00              6.6       G
         DateTimestamp  Air temperature
Quality
G                 5669             5669
Y                   84               84

## Amount of Clouds

In [7]:
# reading air temperature data
filePath = dataPath+"\\"+FeaturesPath[2]
CloudsAmount = pd.read_csv(filePath, sep=";", skiprows=8, parse_dates=[['Datum', 'Tid (UTC)']], 
            usecols = ['Datum', 'Tid (UTC)','Total molnmängd','Kvalitet'])
print(CloudsAmount.describe())
print(CloudsAmount.info())
print(CloudsAmount.head(3))

       Total molnmängd
count     64664.000000
mean         65.808162
std          36.098903
min           0.000000
25%          25.000000
50%          88.000000
75%         100.000000
max         113.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64664 entries, 0 to 64663
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Datum_Tid (UTC)  64664 non-null  datetime64[ns]
 1   Total molnmängd  64664 non-null  int64
 2   Kvalitet         64664 non-null  object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.5+ MB
None
      Datum_Tid (UTC)  Total molnmängd Kvalitet
0 1961-01-01 06:00:00              100        Y
1 1961-01-01 12:00:00              100        Y
2 1961-01-01 18:00:00              100        Y

In [8]:
# renaming the columns
CloudsAmount.rename(columns={"Datum_Tid (UTC)":"DateTimestamp"}, inplace = True)
CloudsAmount.rename(columns = lambda x: re.sub('Total molnmängd','Amount of clouds',x), inplace = True)
CloudsAmount.rename(columns = lambda x: re.sub('Kvalitet','Quality',x), inplace = True)
# filter required data
CloudsAmount = CloudsAmount[CloudsAmount['DateTimestamp'] >= "2015-01-01 00:00:00"] 
print(CloudsAmount.describe())
print(CloudsAmount.info())
print(CloudsAmount.head(3))
print(CloudsAmount.groupby(['Quality']).count())
CloudsAmount = CloudsAmount[['DateTimestamp','Amount of clouds']]

       Amount of clouds
count       4990.000000
mean          65.935471
std           34.443365
min            0.000000
25%           38.000000
50%           75.000000
75%          100.000000
max          113.000000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4990 entries, 59674 to 64663
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DateTimestamp     4990 non-null   datetime64[ns]
 1   Amount of clouds  4990 non-null   int64
 2   Quality           4990 non-null   object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 155.9+ KB
None
            DateTimestamp  Amount of clouds Quality
59674 2015-01-01 06:00:00                75       G
59675 2015-01-01 12:00:00                88       G
59676 2015-01-01 18:00:00               100       G
         DateTimestamp  Amount of clouds
Quality
G                 4906              4906
Y                   84                84

## Preciptation Amount

In [9]:
# reading air pressure data
filePath = dataPath+"\\"+FeaturesPath[3]
PreciptationAmount = pd.read_csv(filePath, sep=";", skiprows=8,
                                 usecols = ['Till Datum Tid (UTC)', 'Representativt dygn','Nederbördsmängd','Kvalitet'])

# convert columns to date
PreciptationAmount['Till Datum Tid (UTC)'] = pd.to_datetime(PreciptationAmount['Till Datum Tid (UTC)'])

print(PreciptationAmount.describe())
print(PreciptationAmount.info())
print(PreciptationAmount.head(3))

       Nederbördsmängd
count     58621.000000
mean          1.444962
std           3.543578
min           0.000000
25%           0.000000
50%           0.000000
75%           1.200000
max          77.800000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58621 entries, 0 to 58620
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Till Datum Tid (UTC)  58621 non-null  datetime64[ns]
 1   Representativt dygn   58621 non-null  object
 2   Nederbördsmängd       58621 non-null  float64
 3   Kvalitet              58621 non-null  object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 1.8+ MB
None
  Till Datum Tid (UTC) Representativt dygn  Nederbördsmängd Kvalitet
0  1859-01-02 07:00:00          1859-01-01              0.0        G
1  1859-01-03 07:00:00          1859-01-02              0.0        G
2  1859-01-04 07:00:00          1859-01-03              0.9        G

In [10]:
# renaming the columns
PreciptationAmount.rename(columns={"Till Datum Tid (UTC)":"DateTimestamp"}, inplace = True)
PreciptationAmount.rename(columns = lambda x: re.sub('Representativt dygn','Representative day',x), inplace = True)
PreciptationAmount.rename(columns = lambda x: re.sub('Nederbördsmängd','Precipitation amount',x), inplace = True)
PreciptationAmount.rename(columns = lambda x: re.sub('Kvalitet','Quality',x), inplace = True)
# filter required data
PreciptationAmount = PreciptationAmount[PreciptationAmount['DateTimestamp'] >= "2015-01-01 00:00:00"] 
print(PreciptationAmount.describe())
print(PreciptationAmount.info())
print(PreciptationAmount.head(3))
print(PreciptationAmount.groupby(['Quality']).count())
PreciptationAmount = PreciptationAmount[['DateTimestamp','Precipitation amount']]

       Precipitation amount
count           2009.000000
mean               1.387755
std                3.219303
min                0.000000
25%                0.000000
50%                0.000000
75%                1.100000
max               36.800000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2009 entries, 56612 to 58620
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DateTimestamp         2009 non-null   datetime64[ns]
 1   Representative day    2009 non-null   object
 2   Precipitation amount  2009 non-null   float64
 3   Quality               2009 non-null   object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 78.5+ KB
None
            DateTimestamp Representative day  Precipitation amount Quality
56612 2015-01-01 06:00:00         2014-12-31                   0.0       Y
56613 2015-01-02 06:00:00         2015-01-01                   1.0       Y
56614 2015-01-03 06:00:00         2015-01-02                   0.0       Y
         DateTimestamp  Representative day  Precipitation amount
Quality
Y                 2009                2009                  2009

## Wind Direction

In [11]:
# reading air pressure data
filePath = dataPath+"\\"+FeaturesPath[4]
# PreciptationAmount = 
WindDirection = pd.read_csv(filePath, sep=";", skiprows=9, parse_dates=[['Datum', 'Tid (UTC)']],
                  usecols = ['Datum','Tid (UTC)','Vindriktning','Kvalitet','Vindhastighet','Kvalitet.1'])

print(WindDirection.describe())
print(WindDirection.info())
print(WindDirection.head(3))

       Vindriktning  Vindhastighet
count  64568.000000   64656.000000
mean     206.480656       3.354185
std       99.713945       2.149009
min        0.000000       0.000000
25%      140.000000       2.000000
50%      230.000000       3.000000
75%      270.000000       5.000000
max      360.000000      23.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64656 entries, 0 to 64655
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Datum_Tid (UTC)  64656 non-null  datetime64[ns]
 1   Vindriktning     64568 non-null  float64
 2   Kvalitet         64568 non-null  object
 3   Vindhastighet    64656 non-null  float64
 4   Kvalitet.1       64656 non-null  object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 2.5+ MB
None
      Datum_Tid (UTC)  Vindriktning Kvalitet  Vindhastighet Kvalitet.1
0 1961-01-01 06:00:00          50.0        G            1.0          G
1 1961-01-01 12:00:00          50.0        G            1.0          G
2 1961-01-01 18:00:00          50.0        G            1.0          G

In [12]:
# renaming the columns
WindDirection.rename(columns={"Datum_Tid (UTC)":"DateTimestamp"}, inplace = True)
WindDirection.rename(columns = lambda x: re.sub('Vindriktning','Wind direction',x), inplace = True)
WindDirection.rename(columns = lambda x: re.sub('Kvalitet','Quality',x), inplace = True)
WindDirection.rename(columns = lambda x: re.sub('Vindhastighet','Wind speed',x), inplace = True)
WindDirection.rename(columns = lambda x: re.sub('Kvalitet.1','Quality1',x), inplace = True)
# filter required data
WindDirection = WindDirection[WindDirection['DateTimestamp'] >= "2015-01-01 00:00:00"] 
print(WindDirection.describe())
print(WindDirection.info())
print(WindDirection.head(3))

       Wind direction   Wind speed
count     4990.000000  4990.000000
mean       202.392786     3.088778
std        103.492461     1.971824
min          0.000000     0.000000
25%        110.000000     1.000000
50%        230.000000     3.000000
75%        270.000000     5.000000
max        360.000000    15.000000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4990 entries, 59666 to 64655
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DateTimestamp   4990 non-null   datetime64[ns]
 1   Wind direction  4990 non-null   float64
 2   Quality         4990 non-null   object
 3   Wind speed      4990 non-null   float64
 4   Quality.1       4990 non-null   object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 233.9+ KB
None
            DateTimestamp  Wind direction Quality  Wind speed Quality.1
59666 2015-01-01 06:00:00           270.0       G         1.0         G
59667 2015-01-01 12:00:00           270.0       G         5.0         G
59668 2015-01-01 18:00:00           270.0       G         3.0         G

In [13]:
directions = np.array('N NNE NE ENE E ESE SE SSE S SSW SW WSW W WNW NW NNW N'.split())
bins = np.arange(11.25, 372, 22.5)
WindDirection['Wind direction'] = directions[np.digitize(WindDirection['Wind direction'], bins)]
# filter required data
WindDirection = WindDirection[WindDirection['DateTimestamp'] >= "2015-01-01 00:00:00"] 
print(WindDirection.describe())
print(WindDirection.info())
print(WindDirection.head(3))
print(WindDirection.groupby(['Quality']).count())
print(WindDirection.groupby(['Quality.1']).count())
WindDirection = WindDirection[['DateTimestamp','Wind direction','Wind speed']]

        Wind speed
count  4990.000000
mean      3.088778
std       1.971824
min       0.000000
25%       1.000000
50%       3.000000
75%       5.000000
max      15.000000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4990 entries, 59666 to 64655
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DateTimestamp   4990 non-null   datetime64[ns]
 1   Wind direction  4990 non-null   object
 2   Quality         4990 non-null   object
 3   Wind speed      4990 non-null   float64
 4   Quality.1       4990 non-null   object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 233.9+ KB
None
            DateTimestamp Wind direction Quality  Wind speed Quality.1
59666 2015-01-01 06:00:00              W       G         1.0         G
59667 2015-01-01 12:00:00              W       G         5.0         G
59668 2015-01-01 18:00:00              W       G         3.0         G
         DateTimestamp  Wind direction  Wind speed  Quality.1
Quality
G                 4902            4902        4902       4902
Y                   88              88          88         88
           DateTimestamp  Wind direction  Quality  Wind speed
Quality.1
G                   4903            4903     4903        4903
Y                     87              87       87          87

## Merging Additional data

In [14]:
# reading Outlier Removed data
df = pd.read_csv(r"G:\Uppsala Docs\period5&6\ProcessedData\2015-2019_sensorData.csv",
                 usecols=['Stop', 'Station Name','National Station Code','Longitude', 
                          'Latitude', 'Classification', 'NO2', 'NOX as NO2','PM2.5', 'CO',
                          'Black Carbon', 'O3',  'PM10'])

#2015-2019_OutliersRemoved_onSelectedStationAndFeatures.csv

# Rename Stop to Time
#df = df.rename(columns={"Timestamp":"DateTimestamp"})
df = df.rename(columns={"Stop":"DateTimestamp"})

# convert columns to date
df['DateTimestamp'] = pd.to_datetime(df['DateTimestamp'])

print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450646 entries, 0 to 450645
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   DateTimestamp          450646 non-null  datetime64[ns]
 1   Station Name           450646 non-null  object
 2   NO2                    445087 non-null  float64
 3   NOX as NO2             445450 non-null  float64
 4   PM2.5                  183966 non-null  float64
 5   CO                     253349 non-null  float64
 6   Black Carbon           55003 non-null   float64
 7   O3                     75291 non-null   float64
 8   National Station Code  450646 non-null  int64
 9   Longitude              450646 non-null  float64
 10  Latitude               450646 non-null  float64
 11  Classification         450646 non-null  object
 12  PM10                   267321 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(1), object(2)
memory usage: 44.7+ MB
None
                 NO2     NOX as NO2          PM2.5             CO  \
count  445087.000000  445450.000000  183966.000000  253349.000000
mean       26.403201      52.154674       5.672138       0.297422
std        21.326453      60.688404       4.678776       0.233166
min        -0.300000      -0.500000      -3.000000       0.000000
25%        10.100000      13.000000       2.600000       0.200000
50%        20.300000      29.900000       4.600000       0.270000
75%        37.200000      68.500000       7.400000       0.350000
max       221.700000    1324.000000     105.000000      20.700000

       Black Carbon            O3  National Station Code      Longitude  \
count  55003.000000  75291.000000          450646.000000  450646.000000
mean       0.650116     44.094675           38207.261509      18.048827
std        0.637904     21.941151           53015.606603       0.020404
min        0.000000      0.100000            8779.000000      18.004040
25%        0.209000     28.000000            8781.000000      18.048660
50%        0.444000     43.300000           18639.000000      18.057808
75%        0.891000     59.000000           18644.000000      18.058254
max       30.400000    151.200000          159403.000000      18.077139

            Latitude           PM10
count  450646.000000  267321.000000
mean       59.326444      18.960425
std         0.011377      19.918945
min        59.313300      -3.040000
25%        59.317090       8.000000
50%        59.317223      13.400000
75%        59.340828      22.400000
max        59.341076     447.600000

In [15]:
# merge additional features
df = df.merge(AirPressure ,on='DateTimestamp',how='outer')
df = df.merge(AirTemperature ,on='DateTimestamp',how='outer')
df = df.merge(CloudsAmount ,on='DateTimestamp',how='outer')
df = df.merge(PreciptationAmount ,on='DateTimestamp',how='outer')
df = df.merge(WindDirection ,on='DateTimestamp',how='outer')
# drop na in station column, remove 2020 data
df = df[~df[['Station Name']].isnull().any(1)]
print(df.info())
print(df.describe())
df.head(2)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450646 entries, 0 to 450645
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   DateTimestamp          450646 non-null  datetime64[ns]
 1   Station Name           450646 non-null  object
 2   NO2                    445087 non-null  float64
 3   NOX as NO2             445450 non-null  float64
 4   PM2.5                  183966 non-null  float64
 5   CO                     253349 non-null  float64
 6   Black Carbon           55003 non-null   float64
 7   O3                     75291 non-null   float64
 8   National Station Code  450646 non-null  float64
 9   Longitude              450646 non-null  float64
 10  Latitude               450646 non-null  float64
 11  Classification         450646 non-null  object
 12  PM10                   267321 non-null  float64
 13  Air pressure           53600 non-null   float64
 14  Air temperature        55338 non-null   float64
 15  Amount of clouds       50960 non-null   float64
 16  Precipitation amount   18776 non-null   float64
 17  Wind direction         50960 non-null   object
 18  Wind speed             50960 non-null   float64
dtypes: datetime64[ns](1), float64(15), object(3)
memory usage: 68.8+ MB
None
                 NO2     NOX as NO2          PM2.5             CO  \
count  445087.000000  445450.000000  183966.000000  253349.000000
mean       26.403201      52.154674       5.672138       0.297422
std        21.326453      60.688404       4.678776       0.233166
min        -0.300000      -0.500000      -3.000000       0.000000
25%        10.100000      13.000000       2.600000       0.200000
50%        20.300000      29.900000       4.600000       0.270000
75%        37.200000      68.500000       7.400000       0.350000
max       221.700000    1324.000000     105.000000      20.700000

       Black Carbon            O3  National Station Code      Longitude  \
count  55003.000000  75291.000000          450646.000000  450646.000000
mean       0.650116     44.094675           38207.261509      18.048827
std        0.637904     21.941151           53015.606603       0.020404
min        0.000000      0.100000            8779.000000      18.004040
25%        0.209000     28.000000            8781.000000      18.048660
50%        0.444000     43.300000           18639.000000      18.057808
75%        0.891000     59.000000           18644.000000      18.058254
max       30.400000    151.200000          159403.000000      18.077139

            Latitude           PM10  Air pressure  Air temperature  \
count  450646.000000  267321.000000  53600.000000     55338.000000
mean       59.326444      18.960425   1012.519940         9.043314
std         0.011377      19.918945     11.689963         8.230341
min        59.313300      -3.040000    964.500000       -14.700000
25%        59.317090       8.000000   1005.700000         2.400000
50%        59.317223      13.400000   1012.900000         8.200000
75%        59.340828      22.400000   1019.800000        15.800000
max        59.341076     447.600000   1046.800000        32.500000

       Amount of clouds  Precipitation amount    Wind speed
count      50960.000000          18776.000000  50960.000000
mean          65.889914              1.411014      3.060636
std           34.451901              3.194766      1.966170
min            0.000000              0.000000      0.000000
25%           38.000000              0.000000      1.000000
50%           75.000000              0.000000      3.000000
75%          100.000000              1.200000      5.000000
max          113.000000             36.800000     15.000000

,DateTimestamp,Station Name,NO2,NOX as NO2,PM2.5,CO,Black Carbon,O3,National Station Code,Longitude,Latitude,Classification,PM10,Air pressure,Air temperature,Amount of clouds,Precipitation amount,Wind direction,Wind speed
0,2015-01-01 01:00:00,#Stockholm Norrlandsgatan 29,46.3,100.1,NaN,NaN,NaN,NaN,13349.0,18.070845,59.336440,Urban Traffic,57.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-01 01:00:00,#Stockholm Hornsgatan 108 Tak,7.5,10.3,NaN,0.15,NaN,NaN,18638.0,18.048660,59.317223,Urban Background,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# fill na in additional columns using bfill
df[['Air pressure','Air temperature','Amount of clouds',
    'Precipitation amount','Wind direction','Wind speed']] = df[['Air pressure','Air temperature','Amount of clouds',
                                          'Precipitation amount','Wind direction','Wind speed']].fillna(method='bfill')
# df[['Air pressure','Air temperature','Amount of clouds',
#     'Precipitation amount','Wind direction','Wind speed']] = df[['Air pressure','Air temperature','Amount of clouds',
#                                           'Precipitation amount','Wind direction','Wind speed']].fillna(method='ffill')

print(df.info())
print(df.describe())
df.head(2)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450646 entries, 0 to 450645
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   DateTimestamp          450646 non-null  datetime64[ns]
 1   Station Name           450646 non-null  object
 2   NO2                    445087 non-null  float64
 3   NOX as NO2             445450 non-null  float64
 4   PM2.5                  183966 non-null  float64
 5   CO                     253349 non-null  float64
 6   Black Carbon           55003 non-null   float64
 7   O3                     75291 non-null   float64
 8   National Station Code  450646 non-null  float64
 9   Longitude              450646 non-null  float64
 10  Latitude               450646 non-null  float64
 11  Classification         450646 non-null  object
 12  PM10                   267321 non-null  float64
 13  Air pressure           434080 non-null  float64
 14  Air temperature        450580 non-null  float64
 15  Amount of clouds       429724 non-null  float64
 16  Precipitation amount   450448 non-null  float64
 17  Wind direction         434080 non-null  object
 18  Wind speed             434080 non-null  float64
dtypes: datetime64[ns](1), float64(15), object(3)
memory usage: 68.8+ MB
None
                 NO2     NOX as NO2          PM2.5             CO  \
count  445087.000000  445450.000000  183966.000000  253349.000000
mean       26.403201      52.154674       5.672138       0.297422
std        21.326453      60.688404       4.678776       0.233166
min        -0.300000      -0.500000      -3.000000       0.000000
25%        10.100000      13.000000       2.600000       0.200000
50%        20.300000      29.900000       4.600000       0.270000
75%        37.200000      68.500000       7.400000       0.350000
max       221.700000    1324.000000     105.000000      20.700000

       Black Carbon            O3  National Station Code      Longitude  \
count  55003.000000  75291.000000          450646.000000  450646.000000
mean       0.650116     44.094675           38207.261509      18.048827
std        0.637904     21.941151           53015.606603       0.020404
min        0.000000      0.100000            8779.000000      18.004040
25%        0.209000     28.000000            8781.000000      18.048660
50%        0.444000     43.300000           18639.000000      18.057808
75%        0.891000     59.000000           18644.000000      18.058254
max       30.400000    151.200000          159403.000000      18.077139

            Latitude           PM10   Air pressure  Air temperature  \
count  450646.000000  267321.000000  434080.000000    450580.000000
mean       59.326444      18.960425    1012.367898         8.555775
std         0.011377      19.918945      11.751786         8.027413
min        59.313300      -3.040000     964.500000       -14.700000
25%        59.317090       8.000000    1005.300000         2.100000
50%        59.317223      13.400000    1012.800000         7.800000
75%        59.340828      22.400000    1019.800000        15.100000
max        59.341076     447.600000    1046.800000        32.500000

       Amount of clouds  Precipitation amount     Wind speed
count     429724.000000         450448.000000  434080.000000
mean          65.230965              1.411565       2.869084
std           35.410606              3.195186       1.986563
min            0.000000              0.000000       0.000000
25%           25.000000              0.000000       1.000000
50%           75.000000              0.000000       3.000000
75%          100.000000              1.200000       4.000000
max          113.000000             36.800000      15.000000

,DateTimestamp,Station Name,NO2,NOX as NO2,PM2.5,CO,Black Carbon,O3,National Station Code,Longitude,Latitude,Classification,PM10,Air pressure,Air temperature,Amount of clouds,Precipitation amount,Wind direction,Wind speed
0,2015-01-01 01:00:00,#Stockholm Norrlandsgatan 29,46.3,100.1,NaN,NaN,NaN,NaN,13349.0,18.070845,59.336440,Urban Traffic,57.0,1012.4,2.4,75.0,0.0,W,1.0
1,2015-01-01 01:00:00,#Stockholm Hornsgatan 108 Tak,7.5,10.3,NaN,0.15,NaN,NaN,18638.0,18.048660,59.317223,Urban Background,NaN,1012.4,2.4,75.0,0.0,W,1.0

In [17]:
df.describe()

,NO2,NOX as NO2,PM2.5,CO,Black Carbon,O3,National Station Code,Longitude,Latitude,PM10,Air pressure,Air temperature,Amount of clouds,Precipitation amount,Wind speed
count,445087.000000,445450.000000,183966.000000,253349.000000,55003.000000,75291.000000,450646.000000,450646.000000,450646.000000,267321.000000,434080.000000,450580.000000,429724.000000,450448.000000,434080.000000
mean,26.403201,52.154674,5.672138,0.297422,0.650116,44.094675,38207.261509,18.048827,59.326444,18.960425,1012.367898,8.555775,65.230965,1.411565,2.869084
std,21.326453,60.688404,4.678776,0.233166,0.637904,21.941151,53015.606603,0.020404,0.011377,19.918945,11.751786,8.027413,35.410606,3.195186,1.986563
min,-0.300000,-0.500000,-3.000000,0.000000,0.000000,0.100000,8779.000000,18.004040,59.313300,-3.040000,964.500000,-14.700000,0.000000,0.000000,0.000000
25%,10.100000,13.000000,2.600000,0.200000,0.209000,28.000000,8781.000000,18.048660,59.317090,8.000000,1005.300000,2.100000,25.000000,0.000000,1.000000
50%,20.300000,29.900000,4.600000,0.270000,0.444000,43.300000,18639.000000,18.057808,59.317223,13.400000,1012.800000,7.800000,75.000000,0.000000,3.000000
75%,37.200000,68.500000,7.400000,0.350000,0.891000,59.000000,18644.000000,18.058254,59.340828,22.400000,1019.800000,15.100000,100.000000,1.200000,4.000000
max,221.700000,1324.000000,105.000000,20.700000,30.400000,151.200000,159403.000000,18.077139,59.341076,447.600000,1046.800000,32.500000,113.000000,36.800000,15.000000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450646 entries, 0 to 450645
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   DateTimestamp          450646 non-null  datetime64[ns]
 1   Station Name           450646 non-null  object
 2   NO2                    445087 non-null  float64
 3   NOX as NO2             445450 non-null  float64
 4   PM2.5                  183966 non-null  float64
 5   CO                     253349 non-null  float64
 6   Black Carbon           55003 non-null   float64
 7   O3                     75291 non-null   float64
 8   National Station Code  450646 non-null  float64
 9   Longitude              450646 non-null  float64
 10  Latitude               450646 non-null  float64
 11  Classification         450646 non-null  object
 12  PM10                   267321 non-null  float64
 13  Air pressure           434080 non-null  float64
 14  Air temperature        450580 non-null  float64
 15  Amount of clouds       429724 non-null  float64
 16  Precipitation amount   450448 non-null  float64
 17  Wind direction         434080 non-null  object
 18  Wind speed             434080 non-null  float64
dtypes: datetime64[ns](1), float64(15), object(3)
memory usage: 68.8+ MB

In [19]:
savePath = r"G:\Uppsala Docs\period5&6\ProcessedData"
df.to_csv(savePath+"\\"+'2015-2019_sensorData_metrologicalData.csv')