In [1]:
import os
import re
import pandas as pd
import numpy as np

In [2]:
dataPath = r'G:\Uppsala Docs\period5&6\Meteorological data'
FeaturesPath = os.listdir(dataPath)
print(FeaturesPath)

['Air-pressure.csv', 'Air-Temperature.csv', 'Amount-of-clouds.csv', 'Precipitation-amount.csv', 'Wind-direction.csv']

## Air Pressure

In [28]:
# reading air pressure data
filePath = dataPath+"\\"+FeaturesPath[0]
AirPressure = pd.read_csv(filePath, sep=";", skiprows=8, parse_dates=[['Datum', 'Tid (UTC)']],
                             usecols = ['Datum', 'Tid (UTC)','Lufttryck reducerat havsytans nivå','Kvalitet'])
print(AirPressure.describe())
print(AirPressure.info())
print(AirPressure.head(3))

       Lufttryck reducerat havsytans nivå
count                        64902.000000
mean                          1012.160582
std                             11.869287
min                            942.700000
25%                           1004.800000
50%                           1012.700000
75%                           1020.000000
max                           1054.700000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64902 entries, 0 to 64901
Data columns (total 3 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Datum_Tid (UTC)                     64902 non-null  datetime64[ns]
 1   Lufttryck reducerat havsytans nivå  64902 non-null  float64
 2   Kvalitet                            64902 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.5+ MB
None
      Datum_Tid (UTC)  Lufttryck reducerat havsytans nivå Kvalitet
0 1961-01-01 06:00:00                              1013.3        G
1 1961-01-01 12:00:00                              1013.2        G
2 1961-01-01 18:00:00                              1012.7        G

In [29]:
# renaming the columns
AirPressure.rename(columns={"Datum_Tid (UTC)":"DateTimestamp"}, inplace = True)
AirPressure.rename(columns = lambda x: re.sub('Lufttryck reducerat havsytans nivå','Air pressure',x), inplace = True)
AirPressure.rename(columns = lambda x: re.sub('Kvalitet','Quality',x), inplace = True)
# filter required data
AirPressure = AirPressure[AirPressure['DateTimestamp'] >= "2015-01-01 00:00:00"] 
print(AirPressure.describe())
print(AirPressure.info())
print(AirPressure.head(3))
print(AirPressure.groupby(['Quality']).count())
AirPressure = AirPressure[['DateTimestamp','Air pressure']]

       Air pressure
count   5230.000000
mean    1012.516138
std       11.730431
min      964.500000
25%     1005.600000
50%     1012.900000
75%     1019.900000
max     1046.800000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5230 entries, 59672 to 64901
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTimestamp  5230 non-null   datetime64[ns]
 1   Air pressure   5230 non-null   float64
 2   Quality        5230 non-null   object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 163.4+ KB
None
            DateTimestamp  Air pressure Quality
59672 2015-01-01 06:00:00        1012.4       G
59673 2015-01-01 12:00:00        1009.0       G
59674 2015-01-01 18:00:00        1006.6       G
         DateTimestamp  Air pressure
Quality
G                 5220          5220
Y                   10            10

## Air Temperature

In [45]:
# reading air temperature data
filePath = dataPath+"\\"+FeaturesPath[1]
AirTemperature = pd.read_csv(filePath, sep=";", skiprows=8, parse_dates=[['Datum', 'Tid (UTC)']],
                             usecols = ['Datum', 'Tid (UTC)','Lufttemperatur','Kvalitet'])
print(AirTemperature.describe())
print(AirTemperature.info())
print(AirTemperature.head(3))

       Lufttemperatur
count   200968.000000
mean         6.935331
std          8.544479
min        -29.200000
25%          0.700000
50%          6.400000
75%         13.800000
max         35.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200968 entries, 0 to 200967
Data columns (total 3 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Datum_Tid (UTC)  200968 non-null  datetime64[ns]
 1   Lufttemperatur   200968 non-null  float64
 2   Kvalitet         200968 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.6+ MB
None
      Datum_Tid (UTC)  Lufttemperatur Kvalitet
0 1859-01-01 07:00:00            -1.8        G
1 1859-01-01 13:00:00             0.9        G
2 1859-01-01 20:00:00             1.8        G

In [46]:
# renaming the columns
AirTemperature.rename(columns={"Datum_Tid (UTC)":"DateTimestamp"}, inplace = True)
AirTemperature.rename(columns = lambda x: re.sub('Lufttemperatur','Air temperature',x), inplace = True)
AirTemperature.rename(columns = lambda x: re.sub('Kvalitet','Quality',x), inplace = True)
# filter required data
AirTemperature = AirTemperature[AirTemperature['DateTimestamp'] >= "2015-01-01 00:00:00"] 
print(AirTemperature.describe())
print(AirTemperature.info())
print(AirTemperature.head(3))
print(AirTemperature.groupby(['Quality']).count())
AirTemperature = AirTemperature[['DateTimestamp','Air temperature']]

       Air temperature
count      5753.000000
mean          8.875856
std           8.103316
min         -14.700000
25%           2.400000
50%           7.900000
75%          15.500000
max          32.500000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5753 entries, 195215 to 200967
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DateTimestamp    5753 non-null   datetime64[ns]
 1   Air temperature  5753 non-null   float64
 2   Quality          5753 non-null   object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 179.8+ KB
None
             DateTimestamp  Air temperature Quality
195215 2015-01-01 06:00:00              2.4       G
195216 2015-01-01 12:00:00              5.7       G
195217 2015-01-01 18:00:00              6.6       G
         DateTimestamp  Air temperature
Quality
G                 5669             5669
Y                   84               84

## Amount of Clouds

In [51]:
# reading air temperature data
filePath = dataPath+"\\"+FeaturesPath[2]
CloudsAmount = pd.read_csv(filePath, sep=";", skiprows=8, parse_dates=[['Datum', 'Tid (UTC)']], 
            usecols = ['Datum', 'Tid (UTC)','Total molnmängd','Kvalitet'])
print(CloudsAmount.describe())
print(CloudsAmount.info())
print(CloudsAmount.head(3))

       Total molnmängd
count     64664.000000
mean         65.808162
std          36.098903
min           0.000000
25%          25.000000
50%          88.000000
75%         100.000000
max         113.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64664 entries, 0 to 64663
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Datum_Tid (UTC)  64664 non-null  datetime64[ns]
 1   Total molnmängd  64664 non-null  int64
 2   Kvalitet         64664 non-null  object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.5+ MB
None
      Datum_Tid (UTC)  Total molnmängd Kvalitet
0 1961-01-01 06:00:00              100        Y
1 1961-01-01 12:00:00              100        Y
2 1961-01-01 18:00:00              100        Y

In [52]:
# renaming the columns
CloudsAmount.rename(columns={"Datum_Tid (UTC)":"DateTimestamp"}, inplace = True)
CloudsAmount.rename(columns = lambda x: re.sub('Total molnmängd','Amount of clouds',x), inplace = True)
CloudsAmount.rename(columns = lambda x: re.sub('Kvalitet','Quality',x), inplace = True)
# filter required data
CloudsAmount = CloudsAmount[CloudsAmount['DateTimestamp'] >= "2015-01-01 00:00:00"] 
print(CloudsAmount.describe())
print(CloudsAmount.info())
print(CloudsAmount.head(3))
print(CloudsAmount.groupby(['Quality']).count())
CloudsAmount = CloudsAmount[['DateTimestamp','Amount of clouds']]

       Amount of clouds
count       4990.000000
mean          65.935471
std           34.443365
min            0.000000
25%           38.000000
50%           75.000000
75%          100.000000
max          113.000000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4990 entries, 59674 to 64663
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DateTimestamp     4990 non-null   datetime64[ns]
 1   Amount of clouds  4990 non-null   int64
 2   Quality           4990 non-null   object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 155.9+ KB
None
            DateTimestamp  Amount of clouds Quality
59674 2015-01-01 06:00:00                75       G
59675 2015-01-01 12:00:00                88       G
59676 2015-01-01 18:00:00               100       G
         DateTimestamp  Amount of clouds
Quality
G                 4906              4906
Y                   84                84

## Preciptation Amount

In [71]:
# reading air pressure data
filePath = dataPath+"\\"+FeaturesPath[3]
PreciptationAmount = pd.read_csv(filePath, sep=";", skiprows=8,
                                 usecols = ['Till Datum Tid (UTC)', 'Representativt dygn','Nederbördsmängd','Kvalitet'])

# convert columns to date
PreciptationAmount['Till Datum Tid (UTC)'] = pd.to_datetime(PreciptationAmount['Till Datum Tid (UTC)'])

print(PreciptationAmount.describe())
print(PreciptationAmount.info())
print(PreciptationAmount.head(3))

       Nederbördsmängd
count     58621.000000
mean          1.444962
std           3.543578
min           0.000000
25%           0.000000
50%           0.000000
75%           1.200000
max          77.800000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58621 entries, 0 to 58620
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Till Datum Tid (UTC)  58621 non-null  datetime64[ns]
 1   Representativt dygn   58621 non-null  object
 2   Nederbördsmängd       58621 non-null  float64
 3   Kvalitet              58621 non-null  object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 1.8+ MB
None
  Till Datum Tid (UTC) Representativt dygn  Nederbördsmängd Kvalitet
0  1859-01-02 07:00:00          1859-01-01              0.0        G
1  1859-01-03 07:00:00          1859-01-02              0.0        G
2  1859-01-04 07:00:00          1859-01-03              0.9        G

In [72]:
# renaming the columns
PreciptationAmount.rename(columns={"Till Datum Tid (UTC)":"DateTimestamp"}, inplace = True)
PreciptationAmount.rename(columns = lambda x: re.sub('Representativt dygn','Representative day',x), inplace = True)
PreciptationAmount.rename(columns = lambda x: re.sub('Nederbördsmängd','Precipitation amount',x), inplace = True)
PreciptationAmount.rename(columns = lambda x: re.sub('Kvalitet','Quality',x), inplace = True)
# filter required data
PreciptationAmount = PreciptationAmount[PreciptationAmount['DateTimestamp'] >= "2015-01-01 00:00:00"] 
print(PreciptationAmount.describe())
print(PreciptationAmount.info())
print(PreciptationAmount.head(3))
print(PreciptationAmount.groupby(['Quality']).count())
PreciptationAmount = PreciptationAmount[['DateTimestamp','Precipitation amount']]

       Precipitation amount
count           2009.000000
mean               1.387755
std                3.219303
min                0.000000
25%                0.000000
50%                0.000000
75%                1.100000
max               36.800000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2009 entries, 56612 to 58620
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DateTimestamp         2009 non-null   datetime64[ns]
 1   Representative day    2009 non-null   object
 2   Precipitation amount  2009 non-null   float64
 3   Quality               2009 non-null   object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 78.5+ KB
None
            DateTimestamp Representative day  Precipitation amount Quality
56612 2015-01-01 06:00:00         2014-12-31                   0.0       Y
56613 2015-01-02 06:00:00         2015-01-01                   1.0       Y
56614 2015-01-03 06:00:00         2015-01-02                   0.0       Y
         DateTimestamp  Representative day  Precipitation amount
Quality
Y                 2009                2009                  2009

## Wind Direction

In [78]:
# reading air pressure data
filePath = dataPath+"\\"+FeaturesPath[4]
# PreciptationAmount = 
WindDirection = pd.read_csv(filePath, sep=";", skiprows=9, parse_dates=[['Datum', 'Tid (UTC)']],
                  usecols = ['Datum','Tid (UTC)','Vindriktning','Kvalitet','Vindhastighet','Kvalitet.1'])

print(WindDirection.describe())
print(WindDirection.info())
print(WindDirection.head(3))

       Vindriktning  Vindhastighet
count  64568.000000   64656.000000
mean     206.480656       3.354185
std       99.713945       2.149009
min        0.000000       0.000000
25%      140.000000       2.000000
50%      230.000000       3.000000
75%      270.000000       5.000000
max      360.000000      23.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64656 entries, 0 to 64655
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Datum_Tid (UTC)  64656 non-null  datetime64[ns]
 1   Vindriktning     64568 non-null  float64
 2   Kvalitet         64568 non-null  object
 3   Vindhastighet    64656 non-null  float64
 4   Kvalitet.1       64656 non-null  object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 2.5+ MB
None
      Datum_Tid (UTC)  Vindriktning Kvalitet  Vindhastighet Kvalitet.1
0 1961-01-01 06:00:00          50.0        G            1.0          G
1 1961-01-01 12:00:00          50.0        G            1.0          G
2 1961-01-01 18:00:00          50.0        G            1.0          G

In [79]:
# renaming the columns
WindDirection.rename(columns={"Datum_Tid (UTC)":"DateTimestamp"}, inplace = True)
WindDirection.rename(columns = lambda x: re.sub('Vindriktning','Wind direction',x), inplace = True)
WindDirection.rename(columns = lambda x: re.sub('Kvalitet','Quality',x), inplace = True)
WindDirection.rename(columns = lambda x: re.sub('Vindhastighet','Wind speed',x), inplace = True)
WindDirection.rename(columns = lambda x: re.sub('Kvalitet.1','Quality1',x), inplace = True)
# filter required data
WindDirection = WindDirection[WindDirection['DateTimestamp'] >= "2015-01-01 00:00:00"] 
print(WindDirection.describe())
print(WindDirection.info())
print(WindDirection.head(3))

       Wind direction   Wind speed
count     4990.000000  4990.000000
mean       202.392786     3.088778
std        103.492461     1.971824
min          0.000000     0.000000
25%        110.000000     1.000000
50%        230.000000     3.000000
75%        270.000000     5.000000
max        360.000000    15.000000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4990 entries, 59666 to 64655
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DateTimestamp   4990 non-null   datetime64[ns]
 1   Wind direction  4990 non-null   float64
 2   Quality         4990 non-null   object
 3   Wind speed      4990 non-null   float64
 4   Quality.1       4990 non-null   object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 233.9+ KB
None
            DateTimestamp  Wind direction Quality  Wind speed Quality.1
59666 2015-01-01 06:00:00           270.0       G         1.0         G
59667 2015-01-01 12:00:00           270.0       G         5.0         G
59668 2015-01-01 18:00:00           270.0       G         3.0         G

In [80]:
directions = np.array('N NNE NE ENE E ESE SE SSE S SSW SW WSW W WNW NW NNW N'.split())
bins = np.arange(11.25, 372, 22.5)
WindDirection['Wind direction'] = directions[np.digitize(WindDirection['Wind direction'], bins)]
# filter required data
WindDirection = WindDirection[WindDirection['DateTimestamp'] >= "2015-01-01 00:00:00"] 
print(WindDirection.describe())
print(WindDirection.info())
print(WindDirection.head(3))
print(WindDirection.groupby(['Quality']).count())
print(WindDirection.groupby(['Quality.1']).count())
WindDirection = WindDirection[['DateTimestamp','Wind direction','Wind speed']]

        Wind speed
count  4990.000000
mean      3.088778
std       1.971824
min       0.000000
25%       1.000000
50%       3.000000
75%       5.000000
max      15.000000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4990 entries, 59666 to 64655
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DateTimestamp   4990 non-null   datetime64[ns]
 1   Wind direction  4990 non-null   object
 2   Quality         4990 non-null   object
 3   Wind speed      4990 non-null   float64
 4   Quality.1       4990 non-null   object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 233.9+ KB
None
            DateTimestamp Wind direction Quality  Wind speed Quality.1
59666 2015-01-01 06:00:00              W       G         1.0         G
59667 2015-01-01 12:00:00              W       G         5.0         G
59668 2015-01-01 18:00:00              W       G         3.0         G
         DateTimestamp  Wind direction  Wind speed  Quality.1
Quality
G                 4902            4902        4902       4902
Y                   88              88          88         88
           DateTimestamp  Wind direction  Quality  Wind speed
Quality.1
G                   4903            4903     4903        4903
Y                     87              87       87          87

## Merging Additional data

In [90]:
# reading Outlier Removed data
df = pd.read_csv(r"G:\Uppsala Docs\period5&6\ProcessedData\2015-2019_sensorData.csv",
                 usecols=['Stop','Station Name','NO2','PM10'])

#2015-2019_OutliersRemoved_onSelectedStationAndFeatures.csv

# Rename Stop to Time
#df = df.rename(columns={"Timestamp":"DateTimestamp"})
df = df.rename(columns={"Stop":"DateTimestamp"})

# convert columns to date
df['DateTimestamp'] = pd.to_datetime(df['DateTimestamp'])

print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450646 entries, 0 to 450645
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   DateTimestamp  450646 non-null  datetime64[ns]
 1   Station Name   450646 non-null  object
 2   NO2            445087 non-null  float64
 3   PM10           267321 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 13.8+ MB
None
                 NO2           PM10
count  445087.000000  267321.000000
mean       26.403201      18.960425
std        21.326453      19.918945
min        -0.300000      -3.040000
25%        10.100000       8.000000
50%        20.300000      13.400000
75%        37.200000      22.400000
max       221.700000     447.600000

In [91]:
# No of zeros, negative and null rows
print('\nNo of Zeros Entries:\n',(df.iloc[:,2:3] == 0).astype(int).sum(axis=0))
print('\nNo of negative Entries:\n',(df.iloc[:,2:3] < 0).astype(int).sum(axis=0))
print('\nNo of null Entries:\n',(df.iloc[:,2:3].isnull()).astype(int).sum(axis=0))
# drop zero rows
df = df[~(df.iloc[:,2:3] < 0).any(1)]
# drop nan rows
df = df[~(df.iloc[:,2:3].isnull()).any(1)]

print(df.info())
print(df.describe())

No of Zeros Entries:
 NO2    1
dtype: int64

No of negative Entries:
 NO2    1
dtype: int64

No of null Entries:
 NO2    5559
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 445086 entries, 0 to 450645
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   DateTimestamp  445086 non-null  datetime64[ns]
 1   Station Name   445086 non-null  object
 2   NO2            445086 non-null  float64
 3   PM10           265147 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 17.0+ MB
None
                 NO2           PM10
count  445086.000000  265147.000000
mean       26.403261      18.980849
std        21.326439      19.936281
min         0.000000      -3.040000
25%        10.100000       8.000000
50%        20.300000      13.400000
75%        37.200000      22.400000
max       221.700000     447.600000

In [92]:
df = df.merge(AirPressure ,on='DateTimestamp',how='outer')
df = df.merge(AirTemperature ,on='DateTimestamp',how='outer')
df = df.merge(CloudsAmount ,on='DateTimestamp',how='outer')
df = df.merge(PreciptationAmount ,on='DateTimestamp',how='outer')
df = df.merge(WindDirection ,on='DateTimestamp',how='outer')

df.head(2)

,DateTimestamp,Station Name,NO2,PM10,Air pressure,Air temperature,Amount of clouds,Precipitation amount,Wind direction,Wind speed
0,2015-01-01 01:00:00,#Stockholm Norrlandsgatan 29,46.3,57.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-01 01:00:00,#Stockholm Hornsgatan 108 Tak,7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
df[['Air pressure','Air temperature','Amount of clouds',
    'Precipitation amount','Wind direction','Wind speed']] = df[['Air pressure','Air temperature','Amount of clouds',
                                          'Precipitation amount','Wind direction','Wind speed']].fillna(method='bfill')

df.head(2)

,DateTimestamp,Station Name,NO2,PM10,Air pressure,Air temperature,Amount of clouds,Precipitation amount,Wind direction,Wind speed
0,2015-01-01 01:00:00,#Stockholm Norrlandsgatan 29,46.3,57.0,1012.4,2.4,75.0,0.0,W,1.0
1,2015-01-01 01:00:00,#Stockholm Hornsgatan 108 Tak,7.5,NaN,1012.4,2.4,75.0,0.0,W,1.0

In [94]:
df.describe()

,NO2,PM10,Air pressure,Air temperature,Amount of clouds,Precipitation amount,Wind speed
count,445086.000000,265147.000000,444534.000000,445451.000000,444534.000000,445451.000000,444534.00000
mean,26.403261,18.980849,1012.370423,8.552737,66.285209,1.410189,2.83485
std,21.326439,19.936281,11.552017,8.014872,35.482401,3.195983,1.96384
min,0.000000,-3.040000,964.500000,-14.700000,0.000000,0.000000,0.00000
25%,10.100000,8.000000,1005.600000,2.100000,25.000000,0.000000,1.00000
50%,20.300000,13.400000,1012.700000,7.700000,75.000000,0.000000,3.00000
75%,37.200000,22.400000,1019.600000,15.100000,100.000000,1.200000,4.00000
max,221.700000,447.600000,1046.800000,32.500000,113.000000,36.800000,15.00000

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 445451 entries, 0 to 445450
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   DateTimestamp         445451 non-null  datetime64[ns]
 1   Station Name          445086 non-null  object
 2   NO2                   445086 non-null  float64
 3   PM10                  265147 non-null  float64
 4   Air pressure          444534 non-null  float64
 5   Air temperature       445451 non-null  float64
 6   Amount of clouds      444534 non-null  float64
 7   Precipitation amount  445451 non-null  float64
 8   Wind direction        444534 non-null  object
 9   Wind speed            444534 non-null  float64
dtypes: datetime64[ns](1), float64(7), object(2)
memory usage: 37.4+ MB

In [99]:
df[df[['Station Name','NO2']].isnull().any(1)]

,DateTimestamp,Station Name,NO2,PM10,Air pressure,Air temperature,Amount of clouds,Precipitation amount,Wind direction,Wind speed
445086,2020-01-01 06:00:00,NaN,NaN,NaN,NaN,1.9,NaN,0.0,NaN,NaN
445087,2020-01-01 18:00:00,NaN,NaN,NaN,NaN,5.0,NaN,0.0,NaN,NaN
445088,2020-01-02 06:00:00,NaN,NaN,NaN,NaN,5.6,NaN,0.0,NaN,NaN
445089,2020-01-02 18:00:00,NaN,NaN,NaN,NaN,5.9,NaN,0.0,NaN,NaN
445090,2020-01-03 06:00:00,NaN,NaN,NaN,NaN,5.7,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
445446,2020-06-29 06:00:00,NaN,NaN,NaN,NaN,18.3,NaN,18.3,NaN,NaN
445447,2020-06-29 18:00:00,NaN,NaN,NaN,NaN,22.3,NaN,0.3,NaN,NaN
445448,2020-06-30 06:00:00,NaN,NaN,NaN,NaN,16.7,NaN,0.3,NaN,NaN
445449,2020-06-30 18:00:00,NaN,NaN,NaN,NaN,17.0,NaN,1.6,NaN,NaN
445450,2020-07-01 06:00:00,NaN,NaN,NaN,NaN,15.8,NaN,1.6,NaN,NaN